.*
*.tar.gz
*.csv
*.bak
Caddyfile
certs
certs1
certs2
certs3
cockroach-data
content/blog/*.html
content/about*
content/friend*
content/policy*
csv
docs
go.mod
go.sum
img
images
public
public1
statik
private
test
test1
vendor
