###  files&folders ###
###################
cockroach-data
private
certs
certs1
certs2
certs3
vendor
go.mod
go.sum
test
*.csv

#####  archives   #####
###################
*.tar.gz

# backup&hidden files #
###################
*.bak
.Makefile
.main.go
