<!doctype html>
<html lang="en">
<head>
</head>
<body style="background-color:black;color:white;">
<center>
<b>{{fdateMDY .}}</b>
<hr>
<br>
<div>
<h1>ABOUT</h1>
</div>
<br>
This website, <a href="https://magnetosphere.net">magnetosphere.net</a>, represents a serious effort at creating <i>from scratch</i> a self-hosted ecommerce website from a rendered inventory database.
<br>
The basic source code of this project can be found here: <a href="https://github.com/magnetosphere/magnets">https://github.com/magnetosphere/magnets<a>
<br>
At the time this was written, extensive modifications have not been made from the functional model. Please forgive the incompleteness of the interface, <b>this is a real store</b> and we have things to sell.
<br>
<br>
<h2>Shipping</h2>
<br>
Shipping is via USPS or UPS. It is not our policy to overcharge for shipping beyond the actual cost including packaging materials.
<br>
Shipping to domestic USA only.
<br>
<br>
<h2>Refunds and Returns</h2>
<br>
If something is broken or not as described, return postage, a refund, store credit, or replacements will be assessed at that time.
<br>
<br>
<h2>Our Commitment to you</h2>
<br>
We are commited to excellent service and customer satisfaction.
<br>
<div>
<h2>Acknoledgements</h2>
</div>
This site is coded in <a href="https://golang.org/">golang</a>, we would like to extend gracious appreciation upon its contributors and maintainers.
<br>
This site uses <a href="https://github.com/cockroachdb/cockroach">CockroachDB</a> as a database, which is also built with go
<br>
As well as <a href="https://upper.io">upper/db</a> as a convenientdatabase access layer.
<br>
We once again reiterate our sincere appreciation and gratituide for the contributors and maintainers of the aforementioned projects.
<br>
This sie has no affiliation with, but supports the tremendous work of <a href="https://suspiciousobservers.org">Suspicious 0bservers</a>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="/products">back to products</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Dedicated to my mother, who remains in my heart forever
<div>
</div>
<div>
</div>
</center>
</body>
</html>
