###Caddyfile for MAGNETOSPHERE.NET AND SUBDOMAINS
magnetosphere.net, www.magnetosphere.net {
  reverse_proxy 127.0.0.1:8040
#file_server {
#root /home/d0mo/maint
#}
  log {
    output stdout
    }
}
deb.magnetosphere.net, www.deb.magnetosphere.net {
file_server browse {
root /home/d0mo/go/src/github.com/the-skycoin-project/deb.skywire.skycoin.com/
}
}

magnetosphereelectronicsurplus.com, www.magnetosphereelectronicsurplus.com {
reverse_proxy 127.0.0.1:8041
#file_server {
#root /home/d0mo/soon
#}
}
antiqueengineer.com, www.antiqueengineer.com {
reverse_proxy 127.0.0.1:8043
}
##skycoin-modal
pay.magnetosphere.net {
reverse_proxy 127.0.0.1:8042
}
##btcpayserver
btc.magnetosphere.net {
reverse_proxy 127.0.0.1:23000
}
##skycoin block explorer
skycoin.magnetosphere.net {
reverse_proxy 127.0.0.1:8001
}
##skycoin node for mobile wallets
sky.magnetosphere.net {
reverse_proxy 127.0.0.1:6420
}
###Caddyfile section for magnetosphere.net privateness services subdomains

##privateness node
#Function: privateness mobile wallet node
#Source: installed from AUR - package
# privateness -enable-all-api-sets=true -log-level=debug -disable-csrf --web-interface-port 6463 -host-whitelist ness.magnetosphere.net
ness.magnetosphere.net {
reverse_proxy 127.0.0.1:6460
}

##privateness node
#Function: privateness explorer node
#Source: skycoin github develop branch & ness fiber.toml
# $HOME/go/src/github.com/skycoin/skycoin
# curl https://raw.githubusercontent.com/NESS-Network/privateness/master/fiber.toml -O fiber.toml
# go run cmd/newcoin/newcoin.go createcoin --coin privateness
# go run cmd/privateness/privateness.go -enable-all-api-sets=true -log-level=debug -disable-csrf -host-whitelist ness.magnetosphere.net --data-dir $HOME/privateness1 --web-interface-port 6460 --port 6665
#ness.magnetosphere.net {
#reverse_proxy 127.0.0.1:6460
#}


##ness explorer
#Function: blockchain explorer service
#Source: github.com/the-skycoin-project/privateness-explorer
# go run explorer.go
ness-explorer.magnetosphere.net {
reverse_proxy 127.0.0.1:8002
}

##tesla mobile wallet node
tesla.magnetosphere.net {
reverse_proxy 127.0.0.1:6419
}
##tesla explorer
tesla-explorer.magnetosphere.net {
reverse_proxy 127.0.0.1:8003
}
##peers.txt file is here - needed for tesla
downloads.magnetosphere.net {
file_server browse {
root /home/d0mo/go/src/github.com/the-skycoin-project/downloads.magnetosphere.net/
}
}
##apt repository - debian package repo
#deb.magnetosphere.net {
#file_server browse {
#root /home/d0mo/go/src/github.com/the-skycoin-project/deb.magnetosphere.net/
#}
#}
fiber.magnetosphere.net {
file_server {
root /home/d0mo/go/src/github.com/the-skycoin-project/docs/public/
}
}
#www.ultimatumhealth.com, ultimatumhealth.com {
#file_server {
#root /home/d0mo/uh
#}
#}
haltingstate.net {
file_server {
root /home/d0mo/go/src/github.com/0pcom/haltingstate.net
}
}
#deb.magnetosphere.net {
#reverse_proxy 127.0.0.1:8043
#}
#fiber.magnetosphere.net {
#reverse_proxy 127.0.0.1:8044
#}
#downloads.magnetosphere.net {
#reverse_proxy 127.0.0.1:8022
#}
##webmail.magnetosphere.net
##magnetosphere.net
##downloads.magnetosphere.net
##deb.magnetosphere.net.magnetosphere.net
##mail.magnetosphere.net
##btc.magnetosphere.net
##pay.magnetosphere.net
##store.magnetosphere.net
##skycoin.magnetosphere.net
##shop.magnetosphere.net
##earth.magnetosphere.net
##donate.magnetosphere.net
##explorer.magnetosphere.net
##ness.magnetosphere.net
##*.magnetosphere.net
