<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>time</title>
</head>
<body>
     <b>{{fdateMDY .}}</b>
     <hr>
     <br>
      <hr>
      <br>
      <hr>
     <b>{{.}}</b>
</body>
</center>
</html>
