<!DOCTYPE html>
<html lang="en"><head>
    <title>MAGNETOSPHERE.NET</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000084" />
    <!--<link rel="icon" href="http://127.0.0.1:8040/favicon.ico">-->
    <link rel="canonical" href="https://magnetosphere.net">


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></button>
            <a class="brand" href="https://magnetosphere.net">MAGNETOSPHERE.NET</a>
            <div class="nav-collapse collapse">
                <ul class="nav">



                            <li>
                                <a href="/about">

                                    <span>About</span>
                                </a>
                            </li>



                            <li>
                                <a href="/shipping">

                                    <span>Shipping</span>
                                </a>
                            </li>

                            <li>
                                <a href="/friend">

                                    <span>Friends</span>
                                </a>
                            </li>

                            <li>
                            		<a href="">

                              			<span><b>{{fdateMDY}}</b></span>
                              		</a>
                              </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<div hidden id="snipcart" data-api-key="ZjMxZTEwMzEtMzFhZS00YjQyLTgxNDMtMTM4ZjVlZmFlMDY1NjM3MjkzMjU0MTU5NTQyMzU0"></div>
<div id="content" class="container">

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>Shipping</h1>
    </div>
    <p class="lead">Shipping Policies</p>
    <ul>
      <ul>
    <p>Currently serving the following 50 states of the United States of America:</p>
    <p></p>
          <ul>
<li>Alabama</li>
<li>Alaska</li>
<li>Arizona</li>
<li>Arkansas</li>
<li>California</li>
<li>Colorado</li>
<li>Connecticut</li>
<li>Delaware</li>
<li>Florida</li>
<li>Georgia</li>
<li>Hawaii</li>
<li>Idaho</li>
<li>Illinois</li>
<li>Indiana</li>
<li>Iowa</li>
<li>Kansas</li>
<li>Kentucky</li>
<li>Louisiana</li>
<li>Maine</li>
<li>Maryland</li>
<li>Massachusetts</li>
<li>Michigan</li>
<li>Minnesota</li>
<li>Mississippi</li>
<li>Missouri</li>
<li>Montana</li>
<li>Nebraska</li>
<li>Nevada</li>
<li>New Hampshire</li>
<li>New Jersey</li>
<li>New Mexico</li>
<li>New York</li>
<li>North Carolina</li>
<li>South Carolina</li>
<li>North Dakota</li>
<li>South Dakota</li>
<li>Ohio</li>
<li>Oklahoma</li>
<li>Oregon</li>
<li>Pennsylvania</li>
<li>Rhode Island</li>
<li>Tennessee</li>
<li>Texas</li>
<li>Utah</li>
<li>Vermont</li>
<li>Virginia</li>
<li>West Virginia</li>
<li>Washington</li>
<li>Wisconsin</li>
<li>Wyoming</li>
<p></p>
</ul>
<p></p>
<p>Orders are sent as they are received; on business days during normal business hours.</p>
<p>If something is broken or not as described; return postage, a refund, store credit, replacements, or other appropriate action will be assessed at the time, and in coordination with the customer, to the best of our abilities.</p>
<p>Responsible, honest, and timely business practices pave the way to customer satisfaction.</p>
</ul></ul>

    <h4><a href="/">Home</a></h4>
</div>


        </div><footer class="container">
    <hr class="soften">
    <p>

&copy;
<a href="https://magnetosphere.net" target="_blank">
    magnetosphere.net
</a>
<span id="thisyear">2021</span> all rights reserved


</p>
    <p class="text-center">





    </p>
</footer>

</body><link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.css" />

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-386.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-alert.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap-scrollspy.js"></script>
<script src="/js/bootstrap-tab.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap-popover.js"></script>
<script src="/js/bootstrap-button.js"></script>
<script src="/js/bootstrap-collapse.js"></script>
<script src="/js/bootstrap-carousel.js"></script>
<script src="/js/bootstrap-typeahead.js"></script>
<script src="/js/bootstrap-affix.js"></script>
<script>
    _386 = {
        fastLoad: false ,
        onePass: false ,
        speedFactor: 4
    };


    function ThisYear() {
        document.getElementById('thisyear').innerHTML = new Date().getFullYear();
    };
</script>
<script async src="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js"></script>
</html>
