{{ define "main" }}
{{- partial "header.html" . -}}
<div class="row-fluid navmargin">
    <div class="page-header">
      {{ .Site.Params.mainpagetitle | safeHTML }}
        <h1>{{.Site.Params.maintitle | safeHTML}}</h1>
    </div>
</div>
<div class="row-fluid">
    <div class="span9 bs-docs-sidebar">
        <p class="lead">{{ .Site.Params.mainpagesubtitle | safeHTML }}</p>
        <p></p>
        <hr class="soften">
        <p></p>
        <h1>{{ i18n "postslist" }}: {{range .Site.Params.lenprods}}{{. | safeHTML}}{{end}}</h1>
        <ul>
          {{partial "listproduct.html" .Site.Params}}
          </ul>
    </div>


    <div class="span3 bs-docs-sidebar">
        <h1>Categories</h1>
        <ul class="nav nav-list bs-docs-sidenav">
          {{partial "categories.html" .Site.Params}}
    </div>

</div>
{{- partial "footer.html" . -}}
{{ end }}
