<div class="span3 bs-docs-sidebar">
{{ printf "{{if ne .Category ``}}" | safeHTML }}
{{ printf "<h1>Category: {{.Category}}</h1>" | safeHTML }}
{{ printf "{{else}}" | safeHTML }}
<h1>Categories</h1>
{{ printf "{{end}}" | safeHTML }}
<ul class="nav nav-list bs-docs-sidenav">
{{partial "categories.html" .Site.Params}}
</ul>
</div>
{{ printf "{{$subcats := listSubCategories $category $table}}" | safeHTML }}
{{ printf "{{if ne (len $subcats) 0}}" | safeHTML }}
<br>
<div class="span3 bs-docs-sidebar">
<h1>SubCategories</h1>
<ul class="nav nav-list bs-docs-sidenav">
{{partial "subcategories.html" . }}
</ul>
</div>
{{ printf "{{end}}" | safeHTML }}
