<div style='margin:0 auto; text-align:center; width:auto;'>
<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>
    <p class="text-center">
      <img src='/img/assets/visa_card.png' alt='Visa is accepted payment'> <img src='/img/assets/master_card.png' alt='MasterCard is accepted payment'> <img src='/img/assets/paypal.png' alt='Paypal is accepted payment'> <img src='/img/assets/bitcoin_text_logo.png' alt='Bitcoin cryptocurrency btc crypto is accepted payment'> <img src='/img/assets/sky_card.png' alt='Skycoin cryptocurrency sky crypto is accepted payment'> <img src='/img/assets/ness_card.png' alt='Privateness cryptocurrency ness crypto is accepted payment'>
    </p>
</footer>
</div>
<br>
<br>
<br>
