{{.ifproductstable | safeHTML}}

{{.cateq | safeHTML}}
{{.listPage1 | safeHTML}}
{{.indexPage1 | safeHTML}}
{{.mainpagedesc | safeHTML}}
<p>{{.ifpagenotzero | safeHTML}}{{.prevproductpage | safeHTML}}{{.end | safeHTML}} {{.ifnextpage | safeHTML}} {{.nextproductpage | safeHTML}} {{.end | safeHTML}}</p>
<hr>
{{.rangeproducts | safeHTML}}
{{.ifenable | safeHTML}}
<div class="col s6">
  <p>{{ .namelink | safeHTML }}</p>
  <p>Price: ${{.price | safeHTML}}</p>
  <p>In stock: {{.quantity | safeHTML}}</p>
  <p>{{ .ifshippable | safeHTML}} {{.productbutton | safeHTML}}</p>
</div>
<hr>
{{.end | safeHTML}}
{{.end | safeHTML}}
<p>{{.ifpagenotzero | safeHTML}}{{.prevproductpage | safeHTML}}{{.end | safeHTML}}{{.ifnextpage | safeHTML}} {{.nextproductpage | safeHTML}} {{.end | safeHTML}}</p>
{{.end | safeHTML}}

{{ .catne | safeHTML }}
{{.productsByCat | safeHTML}}
{{ .metap | safeHTML }}
<p>{{.ifpagenotzero | safeHTML}}{{.prevproductscatpage | safeHTML}}{{.end | safeHTML}} {{.nextproductscatpage | safeHTML}}</p>
<hr>
{{.rangeproducts | safeHTML}}
{{.ifenable | safeHTML}}
<div class="col s6">
  {{ .name1 | safeHTML }}
    <div class="card horizontal">
      {{.ifneimg1 | safeHTML}}
      <div class="card-image">
        {{.image01 | safeHTML}}
      </div>
      {{.end | safeHTML}}
              <br>
        <div class="card-stacked">
        <div class="card-content">
          <div class="card-action">
            <div class class="center">
            <p>{{ .description1 | safeHTML}}{{ .productsreadmore | safeHTML }}</p>
            <p>Price: ${{.price | safeHTML}}</p>
            <p>In stock: {{.quantity | safeHTML}}</p>
            <p>{{.productbutton | safeHTML}}</p>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<hr>
{{.end | safeHTML}}
{{.end | safeHTML}}
<p>{{.ifpagenotzero | safeHTML}}{{.prevproductscatpage | safeHTML}}{{.end | safeHTML}} {{.nextproductscatpage | safeHTML}}</p>
{{.end | safeHTML}}
{{.end | safeHTML}}

{{.ifequipmentstable | safeHTML}}
{{.cateq | safeHTML}}
{{.equipmentsByPage | safeHTML}}
{{.equipmentpagedesc | safeHTML}}
<p>{{.ifpagenotzero | safeHTML}}{{.prevequipmentpage | safeHTML}}{{.end | safeHTML}} {{.nextequipmentpage | safeHTML}}</p>
<hr>
{{.rangeproducts | safeHTML}}
{{.ifenable | safeHTML}}
<div class="col s6">
  {{ .name1 | safeHTML }}
    <div class="card horizontal">
      {{.ifneimg1 | safeHTML}}
      <div class="card-image">
        {{.image01 | safeHTML}}
      </div>
      {{.end | safeHTML}}        <br>
        <div class="card-stacked">
        <div class="card-content">
          <div class="card-action">
            <div class class="center">
            <p>{{ .description1 | safeHTML}}{{ .equipmentsreadmore | safeHTML }}</p>
            <p>Price: ${{.price | safeHTML}}</p>
            <p>In stock: {{.quantity | safeHTML}}</p>
            <p>{{.equipmentbutton | safeHTML}}</p>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<hr>
{{.end | safeHTML}}
{{.end | safeHTML}}
<p>{{.ifpagenotzero | safeHTML}}{{.prevequipmentpage | safeHTML}}{{.end | safeHTML}} {{.nextequipmentpage | safeHTML}}</p>
{{.end | safeHTML}}
{{ .catne | safeHTML }}
{{.equipmentsByCat | safeHTML}}
{{.metae | safeHTML}}
<p>{{.ifpagenotzero | safeHTML}}{{.prevequipmentscatpage | safeHTML}}{{.end | safeHTML}} {{.nextequipmentscatpage | safeHTML}}</p>
<hr>
{{.rangeproducts | safeHTML}}
{{.ifenable | safeHTML}}
<div class="col s6">
  {{ .name1 | safeHTML }}
    <div class="card horizontal">
      {{.ifneimg1 | safeHTML}}
      <div class="card-image">
        {{.image01 | safeHTML}}
      </div>
      {{.end | safeHTML}}        <br>
        <div class="card-stacked">
        <div class="card-content">
          <div class="card-action">
            <div class class="center">
            <p>{{ .description1 | safeHTML}}{{ .equipmentsreadmore | safeHTML }}</p>
            <p>Price: ${{.price | safeHTML}}</p>
            <p>In stock: {{.quantity | safeHTML}}</p>
            <p>{{.equipmentbutton | safeHTML}}</p>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<hr>
{{.end | safeHTML}}
{{.end | safeHTML}}
<p>{{.ifpagenotzero | safeHTML}}{{.prevequipmentscatpage | safeHTML}}{{.end | safeHTML}} {{.nextequipmentscatpage | safeHTML}}</p>
{{.end | safeHTML}}
{{.end | safeHTML}}
