{{ printf "{{if eq $view `1`}}" | safeHTML}}
{{ printf "{{$shownav := (page1 `last` $table $category $subcategory $pagenumber)}}" | safeHTML}}
{{ printf "{{if ne $shownav 0}}" | safeHTML}}
{{ printf "{{$thispageno := page1 `current` $table $category $subcategory $pagenumber}}" | safeHTML}}
{{ printf "{{$lastpageno := page1 `last` $table $category $subcategory $pagenumber}}" | safeHTML}}
{{ printf "{{$nextpageno := page1 `next` $table $category $subcategory $pagenumber}}" | safeHTML}}
{{ printf "{{$nextpagelink := page `next` $table $category $subcategory $pagenumber}}" | safeHTML}}
<nav class="navbar navbar-inverse">
<div class="navbar-inner">
<div class="container">
<ul class="nav">
<li>
{{ printf "       " | safeHTML}}
</li>
<li>
{{ printf "{{if gt $pagenumber 0}}" | safeHTML }}
{{ printf "<a href='{{page `first` $table $category $subcategory $pagenumber}}'>" | safeHTML }}
{{ printf "&lt;&lt;{{page1 `first` $table $category $subcategory $pagenumber}}" | safeHTML }}
{{ printf "</a>" | safeHTML }}
{{ printf "{{else}}" | safeHTML }}
{{ printf "<div style='color:black;'><&lt;&lt;{{page1 `first` $table $category $subcategory $pagenumber}}...</div>" | safeHTML }}
{{ printf "{{end}}" | safeHTML }}
</li>
<li>
{{ printf "{{if gt $pagenumber 0}}" | safeHTML }}
{{ printf "<a href='{{page `prev` $table $category $subcategory $pagenumber}}'>" | safeHTML }}
{{ printf "&lt;{{page1 `prev` $table $category $subcategory $pagenumber}}" | safeHTML }}
{{ printf "</a>" | safeHTML }}
{{ printf "{{else}}" | safeHTML }}
{{ printf "<div style='color:black;'>&lt;{{page1 `first` $table $category $subcategory $pagenumber}}.</div>" | safeHTML }}
{{ printf "{{end}}" | safeHTML }}
</li>
<li>
{{ printf "<div style='color:black;'>*{{$pagenumber}}*</div>" | safeHTML }}
</li>
<li>
{{ printf "{{if lt $thispageno $lastpageno}}" | safeHTML }}
{{ printf "<a href='{{$nextpagelink}}'>" | safeHTML }}
{{ printf "<span>{{$nextpageno}}&gt;</span>" | safeHTML }}
{{ printf "</a>" | safeHTML }}
{{ printf "{{else}}" | safeHTML }}
{{ printf "<div style='color:black;'><span>.{{$nextpageno}}&gt;</span></div>" | safeHTML }}
{{ printf "{{end}}" | safeHTML }}
</li>
<li>
{{ printf "{{if gt $lastpageno $thispageno}}" | safeHTML }}
{{ printf "<a href='{{page `last` $table $category $subcategory $pagenumber}}'>" | safeHTML }}
{{ printf "<span>{{$lastpageno}}&gt;&gt;</span>" | safeHTML }}
{{ printf "</a>" | safeHTML }}
{{ printf "{{else}}" | safeHTML }}
{{ printf "<div style='color:black;'><span>..{{$lastpageno}}&gt;&gt;</span></div>" | safeHTML }}
{{ printf "{{end}}" | safeHTML }}
</li>
</ul>
</div>
</div>
</nav>
{{printf "{{end}}" | safeHTML}}
{{printf "{{end}}" | safeHTML}}
