{{range .Site.Params.ifview1}}{{. | safeHTML}}{{end}}
      <nav class="navbar navbar-inverse">
         <div class="navbar-inner">
            <div class="container">
               <ul class="nav">
                  {{ range .Site.Menus.two }}
                  <li>
                     {{ .URL | safeHTML }}
                     {{ .Pre }}
                     <span>{{ .Name | safeHTML }}</span>
                     {{ .Post }}
                  </li>
                  {{ end }}
               </ul>
            </div>
         </div>
      </nav>
{{range .Site.Params.end}}{{. | safeHTML}}{{end}}
