<nav class="navbar navbar-inverse">
   <div class="navbar-inner">
      <div class="container">
         <!--button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></button-->
         <!--div class="nav-collapse collapse"-->
         <ul class="nav">
            {{range .Site.Menus.three }}
            <li>
               {{.URL | safeHTML }}
               {{.Pre }}
               <span>{{.Name | safeHTML }}</span>
               {{.Post }}
            </li>
            {{end}}
         </ul>
      </div>
   </div>
</nav>
