{{range .oneProductPage}}{{ . | safeHTML }}{{end}}
<div class="row-fluid navmargin">
    <div class="page-header">
      {{range .name1}}{{ . | safeHTML }}{{end}}
     </div>
      <h2 class="header lead">{{range .desc1}}{{. | safeHTML }}{{end}}</h2>-->
    <ul>
<div class="col s6">
    <div class="card horizontal">
        {{range .img11}}{{ . | safeHTML }}{{end}}
        {{range .img21}}{{ . | safeHTML }}{{end}}
        {{range .img31}}{{ . | safeHTML }}{{end}}
      </div>
        <br>
        <div class="card-stacked">
        <div class="card-content">
          <div class="card-action">
            <div class class="center">
              <p>{{range .ifshippable}}{{ . | safeHTML }}{{end}}</p>
            <p>{{range .desc1}}{{ . | safeHTML }}{{end}}</p>
            <p>Price: ${{range .price}}{{ . | safeHTML }}{{end}}</p>
            <p>In stock: {{range .quantity}}{{ . | safeHTML }}{{end}}</p>
            <p>{{range .productbutton0}}{{ . | safeHTML }}{{end}}</p>
              <p>PartNo: {{range .partno}}{{ . | safeHTML }}{{end}}</p>
              {{range .cat1}}{{ . | safeHTML }}{{end}}
              {{range .subcat1}}{{ . | safeHTML }}{{end}}
              {{range .val1}}{{ . | safeHTML }}{{end}}
              {{range .vr1}}{{ . | safeHTML }}{{end}}
              {{range .amp1}}{{ . | safeHTML }}{{end}}
              {{range .tol1}}{{ . | safeHTML }}{{end}}
              {{range .typ1}}{{ . | safeHTML }}{{end}}
              {{range .ptyp1}}{{ . | safeHTML }}{{end}}
              {{range .mat1}}{{ . | safeHTML }}{{end}}
              {{range .wat1}}{{ . | safeHTML }}{{end}}
              {{range .temp1}}{{ . | safeHTML }}{{end}}
              {{range .cond1}}{{ . | safeHTML }}{{end}}
              {{range .dat1}}{{ . | safeHTML }}{{end}}
              {{range .doc1}}{{ . | safeHTML }}{{end}}
              {{range .not1}}{{ . | safeHTML }}{{end}}
              {{range .wrn1}}{{ . | safeHTML }}{{end}}
              {{range .desc21}}{{ . | safeHTML }}{{end}}
              {{range .year1}}{{ . | safeHTML }}{{end}}
              {{range .cab1}}{{ . | safeHTML }}{{end}}
              {{range .weightoz1}}{{ . | safeHTML }}{{end}}

            </div>
            </div>
        </div>
        </div>
    </div>
  </ul>
</div>
{{range .end}}{{ . | safeHTML }}{{end}}
