{{range .metadesc}}{{ . | safeHTML }}{{end}}
{{range .ifview1}}{{ . | safeHTML }}{{end}}
{{range .productsPage1}}{{ . | safeHTML }}{{end}}
<hr>
{{range .rangeProducts}}{{ . | safeHTML }}{{end}}
<div class="col s6">
  {{range .name1}}{{ . | safeHTML }}{{end}}
    <div class="card horizontal">
        {{range .img11}}{{ . | safeHTML }}{{end}}
        <br>
        <div class="card-stacked">
        <div class="card-content">
          <div class="card-action">
            <div class class="center">
            <p>{{range .desc1}}{{ . | safeHTML }}{{end}}</p>
            <p>{{range .productsreadmore}}{{. | safeHTML }}{{end}}</p>
            <p>Price: ${{range .price}}{{ . | safeHTML }}{{end}}</p>
            <p>In stock: {{range .quantity}}{{ . | safeHTML }}{{end}}</p>
            <p>{{range .productbutton0}}{{ . | safeHTML }}{{end}}</p>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<hr>
{{range .end}}{{ . | safeHTML }}{{end}}
{{range .end}}{{ . | safeHTML }}{{end}}
{{range .ifview2}}{{ . | safeHTML }}{{end}}
{{range .productsPage1}}{{ . | safeHTML }}{{end}}
{{range .rangeProducts}}{{ . | safeHTML }}{{end}}
<hr>
<div class="col s6">
  {{range .name1}}{{ . | safeHTML }}{{end}}
    <div class="card horizontal">
        <br>
        <div class="card-stacked">
        <div class="card-content">
          <div class="card-action">
            <div class class="center">
            <p>{{range .desc1}}{{ . | safeHTML }}{{end}}</p>
            <p>{{range .productsreadmore}}{{. | safeHTML }}{{end}}</p>
            <p>Price: ${{range .price}}{{ . | safeHTML }}{{end}}</p>
            <p>In stock: {{range .quantity}}{{ . | safeHTML }}{{end}}</p>
            <p>{{range .productbutton}}{{ . | safeHTML }}{{end}}</p>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<hr>
{{range .end}}{{ . | safeHTML }}{{end}}
{{range .end}}{{ . | safeHTML }}{{end}}
