

{{define "main" }}
<div class="row-fluid navmargin">
   <div class="page-header">
      <h1>{{.Site.Params.maintitle | safeHTML}}</h1>
   </div>
</div>
<div class="row-fluid">
   <div class="span9 bs-docs-sidebar">
      <p class="lead">{{.Site.Params.mainpagesubtitle | safeHTML}}</p>
      <p></p>
      <hr class="soften">
      <p></p>
      {{partial "menu3.html" .}}
      {{partial "menu2.html" .}}
      <h1>{{i18n "postslist" }}: {{range .Site.Params.lenprods}}{{. | safeHTML}}{{end}}</h1>
      <br>
      <ul>
         {{partial "product.html" .Site.Params}}
      </ul>
      {{partial "menu2.html" .}}
   </div>
   <div class="span3 bs-docs-sidebar">
      <h1>Categories</h1>
      <ul class="nav nav-list bs-docs-sidenav">
      {{partial "categories.html" .Site.Params}}
   </div>
</div>
{{- partial "footer.html" . -}}
{{end}}
